
@{
    ViewBag.Title = "Index";
}

@section Scripts{
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
}

<div class="row ">
    <div class="col-lg-12" style="background-color:white">
        <div class="col-md-6 col-md-offset-3" ->

            <img class="mySlides w3-animate-fading" src="../../Content/img/1.jpg" style="width: 600px; height: 300px">
            <img class="mySlides w3-animate-fading" src="../../Content/img/2.jpg" style="width: 600px; height: 300px" ">
            <img class="mySlides w3-animate-fading" src="../../Content/img/3.jpg" style="width: 600px; height: 300px">
            <img class="mySlides w3-animate-fading" src="../../Content/img/4.jpg" style="width: 600px; height: 300px">
            <hr />
        </div>
    </div>
    
    <div class="col-md-6">
        <br/>
        <section class="panel">
            <header class="panel-heading">
                <p style="color: brown"><b>Sosyal Belediyecilik</b></p>
            </header>
            <div class="panel-body">
                <p>
                    Sultangazi Belediyesi, sosyal sorumluluk projeleriyle eğitim, kültür ve sağlık alanında gelişime ortak olmayı sürdürüyor.  Aile değerlerinin korunmasını amaçlayan “Canım Ailem”, anne adaylarına rehberlik eden “Bilinçli Anne, Sağlıklı Nesil”, engellilerin yaşam koşullarını kolaylaştıran “Birlikte Mutluyuz”, genç nesillerle yaşlıları buluşturan “Nesilden Nesile” projeleri ile binlerce kişiye ulaşıldı.

                    Sultangazi Belediyesi, hayata geçirdiği sosyal sorumluluk projeleriyle eğitim, kültür ve sağlık alanında gelişime ortak olmaya devam ediyor. 
                </p>
                <p>
                    <a href="https://www.sultangazi.bel.tr/tr/sosyal-belediyecilik/sosyal-belediyecilik_1691"> Ayrıntılı bilgi için belediyenin sitesine gidin.</a>
                </p>
            </div>
        </section>

    </div>
    <div class="col-md-6">
        <br />
        <section class="panel">
            <header class="panel-heading">
                <p style="color: brown"><b>Çevre Koruma ve Kontrol Müdürlüğü</b></p>
            </header>
            <div class="panel-body">
                <b>Hizmet Standartları Tablosu</b>
                <p>
                    <a href="https://www.sultangazi.bel.tr/ups/files/dosyalar/Hizmet%20standartlar%C4%B1%202016/%C3%87evre%20Koruma%20ve%20Kontrol%20%C5%9Eefli%C4%9Fi%20%20hizmet%20envanteri.pdf">Çevre Koruma ve Kontrol Müdürlüğü
                    </a>
                </p>
                <p>
                    <a href="https://www.sultangazi.bel.tr/ups/files/dosyalar/Hizmet%20standartlar%C4%B1%202016/sa%C4%9Fl%C4%B1k%20i%C5%9Fleri%20%C5%9Fefli%C4%9Fi%20hizmet%20envanteri.pdf">Sağlık İşleri Hizmet Standartları</a>
                </p>
                <p>
                    Telefon: +90 212 459 34 65<br/>
                    Email: cevrekoruma@sultangazi.bel.tr
                </p>


            </div>
        </section>

    </div>
    

</div>


<script>
    var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";  
        }
        myIndex++;
        if (myIndex > x.length) {myIndex = 1}    
        x[myIndex-1].style.display = "block";  
        setTimeout(carousel, 9000);    
    }
</script>